@media only screen and (max-width:450px) {
    body{
        width: 400px;
        padding: none;
        margin: none;
    }
    nav ul{
        height: 230px;
        flex-direction: column;
        text-align: center;
    }
    .tasmiyah{
        width: 90%;
        margin: auto;
        border-radius: 10px;
    }
    .tasmiyah h1{
        font-size: 25px;
        text-align: center;
        color: white;
    }
    .flag{
        float: left;
        height: 200px;
        width: 400;
        border: 3px solid
    }
    img{
        width: 100%;
        margin: auto;
    }
    .national-song{
        float: left;
        height: auto;
        border: 2px solid red;
        font-size: 11px;
    }
    .national-song h2{
        border: 2px solid green;
        padding: 0;
        margin: 0;
    }
    .short-bio{
        width: 90%;
        border-radius: 10px;
    }
    .notice-board{
        width: 90%;
        height: auto;
    }
    .full-members-container,
    caption h1,
    .members-container table td{
        color: white;
        background: black;
    }
    table{
        font-size: small;
    }
    table a{
        text-decoration: none;
        color: white;
    }
    iframe{
        width: 100%;
        /* float: left; */
        height: auto;
    }
}